<header class="header">
  <div class="header-logo">
    <div class="logo"></div>
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  </div>
  <h2 class="subtitle">{{ site.description }}</h2>
  <ul class="social">
    <li><a href="http://sayan.ee" class="icon-website"></a></li>
    <li><a href="mailto:sayanee@gmail.com" class="icon-email"></a></li>
    <li><a href="https://github.com/sayanee" class="icon-github"></a></li>
    <li><a href="https://twitter.com/sayanee_" class="icon-twitter"></a></li>
  </ul>
</header>
