<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sayanee | {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Build Podcast" href="http://feeds.feedburner.com/sayanee" />
  <link rel="stylesheet" href="{{ site.url }}/app.css">

  <meta property="og:image" content="{{ site.url }}/logo.jpg">
  <meta property="og:url" content="http://blog.sayan.ee">
  <meta property="og:site_name" content="blog.sayan.ee">
  <meta property="og:title" content="Blog of Sayanee">
  <meta property="og:description" content="on web & iot, minimalism and space">
  <meta property="og:type" content="website">

</head>
