.content
  font-size: .9em

.post-abstract
  font-size: .8em
  font-style: italic

.ideas
  border-top: 5px solid $blue
  border-bottom: 5px solid $blue
  padding: 1em 0 1em 3em
  position: relative
  &:after
    content: "\e600"
    color: $blue
    font-family: 'Icon'
    position: absolute
    top: .5em
    right: .5em
    font-size: 1.5em

.discussion
  border-top: 5px solid $red
  border-bottom: 5px solid $red
  padding: 1em
  position: relative
  &:after
    content: "\e60c"
    color: $red
    font-family: 'Icon'
    position: absolute
    top: .5em
    right: .5em
    font-size: 1.5em
  p
    margin: 0
